<template>
<div>
    <Navbar></Navbar>
    <Intro></Intro>
    <Feature></Feature>
</div>
    
</template>
<script>
import Navbar from '../components/Navbar'
import Intro from '../components/Intro'
import Feature from '../components/Features'
export default {
    data(){
        return {

        }
    },
    components:{
        Navbar,
        Intro,
        Feature
        

    }
}
</script>
<style scoped>

</style>