<template>
  <div class="intro">
    <div class="container h-100">
      <div class="row h-100 justify-content-center align-items-center">
        <div class="col-md-5">
          <div class="intro-content">
            <h1 class="intro-title">
              Get The World’s Most Popular Customer Support Software
            </h1>
            <p> 
              We believe in helping you <span style= "color : orange"><strong>Make. Happy. Customers.</strong> </span> scale and 
              streamline your customer service and drastically improve your
               customer’s experience.
            </p>
            <button class="btn" style="background: orange; margin-left: 100px;">LEARN MORE</button>
           
          </div>
        </div>
        <div class="col-md-7">
          <div class="graphics">
            <img src="@/assets/SVG/grahpic.png" alt="" />
          </div>
        </div>
      </div>
    </div>
    <div>
    
     </div>
  </div>
</template>

<script>
export default {
  components: {},

  data() {
    return {
      copyright :  "Copyright 2020 - Simple Blog, All Rights Reserved, Designed & Developed by Ethernet Developers"
    };
  },
  methods: {}
};
</script>

<style lang="scss" scoped>
.intro {
  margin-top: 100px;
  padding: 0.7rem;
}
.intro-content {
  text-align: justify;
  width: 100%;
}
.intro-title {
  text-align: left;
}
.custom-btn {
  width: 150px;
}
footer{
        background: #222;
        padding: 6px;
    }
  .footers{
       color : lightgreen;
       text-align: center;
       margin-top: 2  0px;
  }

img {
  width: 100%;
  height: 400px;
  margin-top: 20px;
}
.contact{
  color:white;
  font-size:40px; 
}
h3{
  color: lightgreen;
  margin-top: 50px;
}


  

 

</style>
