<template>
  <div class="hello">
    <nav class="navbar navbar-expand-lg navbar-light bg-dark navbar-dark fixed-top">
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse topnav" id="navbarSupportedContent">
        <ul class="nav mr-auto justify-content-center">
          <li class="nav-item">
            <router-link to="/" class="nav-link home"> HOME </router-link>
          </li>
          <li class="nav-item">
            <router-link to="/features" class="nav-link" >FEATURES</router-link>
          </li>
          <li class="nav-item">
            <div class="dropdown">
              <router-link to='/service' class="nav-link">Service</router-link>
               <div class="dropdown-content">
                     
                     <router-link to='/ProfessionalSupport' class="nav-link text-center ">Professional Support</router-link>
                     <router-link to='/CommercialSupport' class="nav-link text-center ">Commercial Support</router-link>
                      <router-link to='/HostingSupport' class="nav-link text-center ">Hosting Support</router-link>
                  </div>
              </div>

           
          </li>
          <li class="nav-item">
          
            <div class="dropdown">
              <router-link to='/#' class="nav-link  ">Support</router-link>
               <div class="dropdown-content">
                     
                     <router-link to='/ContactUs' class="nav-link text-center ">ContactUs</router-link>
                     <router-link to='/Support' class="nav-link text-center ">Support</router-link>
                     <router-link to='/FAQ' class="nav-link text-center ">FAQ</router-link>
               </div>
           </div>

          </li>
          <li class="nav-item">
            <router-link to="/forum" class="nav-link">FORUM</router-link>
          </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
          <input
            class="form-control mr-sm-2"
            type="search"
            placeholder="Search"
            aria-label="Search"
          />
          <a class="btn btn-outline-success my-2 my-sm-0"  href="/signup">
            SignUp
          </a>
        </form>
      </div>
    </nav>
  </div>

</template>

<script>
export default {
  data() {
    return {};
  },
  methods: {}
};
</script>

<style lang="scss" scoped>

  .topnav a:hover{
     color: orange;
     border-bottom: 5px solid orange;
   }
 
   li a{
    color: white;
   }
   
   .topnav a:active{
    color: orange;
    border-bottom: 5px solid orange;
       }
       .topnav .home{
        color: orange;
        border-bottom: 5px solid orange;

       }
 .dropdown {
  position: relative;
  display: inline-block;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: black;
  min-width: 200px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

img{
  height: 70px;
  margin-left: 80px;

}
.topnav{
  margin-left: 80px;
}
.body{
  margin-top: 70px;
  background-image: lightgray;
}
h4{
  color: #b40000;
}

</style>
